<nav class="navbar navbar-dark bg-dark" role="navigation">

        <div class=""><a class="navbar-brand" [routerLink]="['/addDevice']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">הוספת מכשיר</a></div>

        <div class=""><a class="navbar-brand" [routerLink]="['/log-in']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}">כניסה/הרשמה</a></div>

        <div class="ml-auto"><a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active"
                        [routerLinkActiveOptions]="{exact: true}"> דף הבית סמל בהמשך</a></div>

</nav>
<br>