<div class="card mb-5" style="width: 25rem;" *ngFor="let event of events">

	<img *ngIf="allowed === true" [ngStyle]="{'filter':'blur(' +  val + 'px)'}" [src]="img" class="card-img-top">
	<h3 *ngIf="allowed === false" class="card-title text-center">עדיין אין אישור</h3>
	<div class="card-body">
		<h3 class="card-title text-center">
			{{eventType}}
			<a>
				<fa-icon (click)="onClickIcon()" [icon]="faEye"></fa-icon>
			</a>
		</h3>
	</div>
	<div class="row card-footer bg-transparent no-gutters">
		<div class="col-2">
			<button [ngClass]="{'cursorDefault': val > 9}" [disabled]="val > 9" class="btn btn-primary btn-block"
				(click)="onClickPlos()">+</button>
		</div>
		<div class="col text-center">
			רמת טשטוש-{{val}}0%
		</div>
		<div class="col-2">
			<button [ngClass]="{'cursorDefault': val < 1}" [disabled]="val < 1" class="btn btn-primary btn-block"
				(click)="onClickMinus()">-</button>
		</div>
	</div>
	<div class="row card-footer bg-transparent no-gutters">
		<app-chat class="container"></app-chat>
	</div>
</div>